﻿div.absolute {
    border-radius: 25px;
    position: absolute;
    top: 200px;
    right: 35%;
    width: 600px;
    height: 358px;
    padding: 20px 20px 20px 20px;
    /*background-color: #42a5f5;*/
    background-color: #265d9e;
}

.font-lato {
    font-family: Lato;
}

.square-text {
    -webkit-text-security:square;
}

.align-to-center {
    text-align: center;
    align-content: center;
}

.buttons-container {
    margin: 0 auto;
    display: flex;
}

.login-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: #265d9e;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    margin-top: 10px;
    font-size: 18px;
}

.button-container {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.main-container-class {
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    font-family: Lato, sans-serif;
    background-color: #5fb6fd;
}

.sidenavemenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenavemenu {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -260px;
    background-color: #08213e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavemenu a:hover, a:focus {
    color: #f1f1f1;
}

.sidenavemenu .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenavemenu {padding-top: 15px;}
    .sidenavemenu a {font-size: 18px;}
}

.width{
    width: 250px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

::selection{
    background-color: aqua;
}

.container-new {
    margin: 0 auto;
    display: inherit;
    width: 100%;
}

.login-container {
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    width: 300px;
}


.align-content-to-left {
    display: inline-block;
    text-align: left;
}

.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 19.5px;
    background-color: #ff4500;
    font-size: 13px;
    line-height: 1;
    padding: 12px 38px;
    font-weight: 700;
    border: 1px solid #ff4500;
}

a {
    outline: 0;
    -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, background 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.font-color {
    color: white;
}

.profile-container {
    position: absolute;
    /*top: 250px;*/
    left: 10%;
    width: 30%;
}

.login-input-container {
    line-height: 1.5;
    width: 100%;
    margin-top: 10px;
}

.login-input-container span {
    font-size: 15px;
    color: white;
    width: 100%;
}

.login-input-container input {
    height: 25px;
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    padding: 0px;
    border-width: 0px;
}

.input-container {
    line-height: 1.5;
    width: 100%;
    margin-top: 10px;   
}

.input-container span {
    font-size: 15px;
    color: black;
    width: 100%;
}

.input-container input {
    height: 25px;
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    padding: 0px;
    border-width: 0px;
}

.user-error-msg {
    color: orange;
    margin-top: 10px;
}


.black-color {
    color: black;
}

.big-titles-profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: Lato;
}

.register-container {
    /*position: absolute;*/
    top: 100px;
    left: 35%;
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    width: 20%;
}

.add-permit-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.6;
    width: 300px;
    font-size: 20px;
    margin-bottom: 10px;
}

.button-in-permit {
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: #265d9e;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    margin-top: 10px;
    font-size: 15px;
}

.add-permit-container textarea {
    width: 100%;
    resize: none;
    height: 80px;
    padding: 0px;
    font-size: 16px;
    font-family: Arial;
}

.add-permit-container select {
    width: 100%;
    height: 30px;
    font-family: Arial;
    font-size: 15px;
}

.report-button {
    width: 100%;
    text-align: center;
    background-color: white;
    border-color: black;
    margin-top: 3px;
    height: 40px;
    font-size: 15px;
}

input[type="submit"]:hover {
    font-weight: 600;
}

.change-password-container {
    position: absolute;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
    width: 350px;
    font-size: 20px;
    margin-bottom: 10px;
}

.change-password-button {
    position: absolute;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: #265d9e;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    margin-top: 10px;
    font-size: 15px;
}

.change-engineer-status-container {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.change-engineer-status-container select {
    width: 100%;
    height: 30px;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 10px;
}

.panel-details-container {
    width: 100%;
    margin-bottom: 10px;
}

.engineer-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.4;
    font-size: 18px;
    margin-left: 10px;
    font-family: Arial;
}

.buttonn {
    position: absolute;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: #265d9e;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    margin-top: 10px;
    font-size: 15px;
}

.report-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 10px;
}

.report-details-container textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 70px;
}

.report-details-container select {
    margin-bottom: 10px;
    height: 70px;
}

.titles-report-details-container {
    margin-bottom: 10px;
}

.controls-report-details-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

.controls-report-details-container select {
    width: 100%;
    font-family: Arial;
    font-size: 15px;
}

.controls-report-details-container input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: #265d9e;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.send-mail-container {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
    width: 20%;
}

.input-container textarea {
    font-family: Arial;
    font-size: 15px;
    width: 100%;
    resize: none;
    height: 70px;
    border: 0px;
    padding: 0px;
}

.permit-view-table {
    border: medium none #5fb6fd;
    width: 100%;
    margin-top: 0px;
    min-width: 100px;
    max-height: 100px;
}

.view-permit-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    width: 150px;
    font-size: 20px;
}

.view-permit-container select {
    width: 100%;
    height: 30px;
    font-size: 15px;
}

.view-permit-container input {
    margin-bottom: 10px;
}

textarea {
    cursor: auto;
}

.permit-panel {
    position: absolute;
    min-height: 100px;
    max-height: 100px;
}

table {
    width: 100%;
}

.reports-table {
    border-bottom: solid 1px black;
    border-left: none;
    border-right: none;
    font-size: 20px;
    /*height: auto;*/
}

.left {
    width: 15%;
    height: 30px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.3;
}

.right {
    margin-left: 15%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

.left-right-container {
    width: 30%;
    height: 30px;
    /*margin: auto;*/
    padding: 20px;
    padding-left: 0px;
}

.report-gridview-container {
    margin-top: 5px;
}

.report-panel-container {
    width: 90%;
    margin-left: 5%;
}

.permits-panel-container {
    width: 100%;
    padding-top: 10px;
}

.permits-all-controls-container {
    margin-left: 5%;
    width: 90%;
}

.permits-button-container {
    text-align: right;
    width: 100%;
    margin-right: 5%;
}

.GridView:hover {
    background-color: #08213e;
    border-top: solid;
    color: white;
    
}